# Python files
__pycache__/
.venv/
venv/
.DS_Store
.vscode/
.tool-versions
.python-version
dist/
**.egg-info/
_build/
.tox
.ruff_cache
.pytest_cache
.mypy_cache

# Salesforce
.codegenie/

# Heroku TPS TEMP
tpsGetLock_response.txt
tpsRecordRelease_response.txt
