name: Package Library

on:
  push:
    branches: [ "main" ]
    tags: 
      - "*"
  pull_request:
    branches: [ "main" ]
  
jobs:
  build:
    runs-on: pub-hk-ubuntu-24.04-ip
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        python-version: ${{ matrix.python-version }}
        cache-dependency-glob: "uv.lock"
    - name: Install the project
      run: uv sync --all-extras --dev
    - name: Build the artifact in dist/
      run: uv build
    - name: sanity
      run: uv run --with heroku_applink --no-project -- python -c "import heroku_applink"
    - name: Release to Github
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
          files: | 
            dist/*.whl
            dist/*.tar.gz
    - name: Install package_cloud
      if: startsWith(github.ref, 'refs/tags/')
      run: sudo gem install package_cloud
    - name: Push to packagecloud
      if: startsWith(github.ref, 'refs/tags/')
      run: |
          for f in dist/*.tar.gz; do package_cloud yank ${{ env.PACKAGECLOUD_DEST }} $(basename $f) || echo 'Not Found'; done
          package_cloud push ${{ env.PACKAGECLOUD_DEST }} dist/*.tar.gz

