name: Package Library

permissions:
  contents: write
  id-token: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Test on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install tox and tox-uv
        run: pip install tox tox-uv

      - name: Run tox
        run: tox

  lint:
    name: Lint with Ruff
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: pip

      - name: Install ruff
        run: pip install ruff

      - name: Run Ruff
        run: ruff check .

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 
        uses: actions/setup-python@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Build the artifact in dist/
        run: uv build

  upload-artifact-for-release:
    needs: build
    if: contains(github.head_ref, 'release/') || contains(github.head_ref, 'release-') || contains(github.head_ref, 'release-v')
    runs-on: ubuntu-latest
    steps:
      - name: Upload artifacts for release
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.head_ref }}
          path: dist/
          retention-days: 90
