name: Publish Release

on:
  push:
    tags:
      - 'v*'

jobs:
  check_for_moratorium:
    runs-on: ubuntu-latest
    environment: change_management
    steps:
      - uses: actions/checkout@v4
      - env:
          TPS_API_TOKEN: ${{ secrets.TPS_API_TOKEN_PARAM }}
        run: ./scripts/release/tps_check_lock heroku-applink-python ${{ github.sha }}

  publish:
    needs: check_for_moratorium
    runs-on: ubuntu-latest
    environment: change_management
    steps:
      - uses: actions/checkout@v4

      - name: Download build artifacts
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: package.yml
          name: ${{ github.ref_name }}
          path: dist

      - name: Release to GitHub
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.whl
            dist/*.tar.gz

      - name: Release to PyPI
        run: uv publish

      - name: Publish To Change Management
        env:
          ACTOR_EMAIL: ${{ secrets.TPS_API_RELEASE_ACTOR_EMAIL }}
          TPS_API_TOKEN: ${{ secrets.TPS_API_TOKEN_PARAM }}
        run: ./scripts/release/tps_record_release heroku-applink-python ${{ github.sha }}
